@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

.map {
    border-radius: 100px;
   top:60%;
   border:dashed;
   border-block-color:deeppink;
   
}